body {
  background-color: #8EE4AF;
}
#intro {
  padding: 30px;
  margin-top: 30px;
  background-color: #EDF5E1;
  color: #05386B;
}

#navigation {
  align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#navigation a {
  padding: 20px;
  color: #05386B;
}

#first_box {
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  text-align: center;
  background-color: #EDF5E1;
}

#box2 {
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  text-align: center;
  background-color: #EDF5E1;
}

#last_box {
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #EDF5E1;
}

#social {
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;
}
#social a {
  display: inline-flex;
  justify-content: center;
  padding: 0px;
}


#social img {
  height: 75px;
  width: 75px;
  padding: 5px;
}
